
@media (min-width: 980px) { 

 	/***
 	Page sidebar
 	***/
 	.page-sidebar {
		position: absolute;
 		width: 225px;
  	}

	.page-sidebar-fixed .page-sidebar {
	  	position: fixed !important;
	 	top: 41px;
	}

	.page-sidebar-fixed ul.page-sidebar-menu > li.last {
		margin-bottom: 15px !important;
	}

	.page-sidebar-fixed.page-sidebar-hover-on .page-sidebar {
		z-index: 10000;		
		width: 35px;		
	}

	.page-sidebar-fixed.page-sidebar-hover-on .page-sidebar .selected {
		display: none;
	}

	.page-sidebar-fixed.page-sidebar-hover-on .page-content {
		margin-left: 35px;
	}
	.page-sidebar-fixed.page-sidebar-hover-on .footer {
		margin-left: 35px;
	}

	.page-sidebar-fixed .page-sidebar-closed .page-sidebar .sidebar-search .submit,
	.page-sidebar-fixed .page-sidebar .sidebar-toggler {
		-webkit-transition: all  0.2s ease;
	     -moz-transition: all  0.2s ease;
	       -o-transition: all  0.2s ease;
	          transition: all  0.2s ease;
	}

	.page-sidebar-hovering {
		overflow: hidden !important;
	}

	.page-sidebar-hovering .sub-menu,
	.page-sidebar-hovering span.title,
	.page-sidebar-hovering span.arrow {		  
		display: none !important;
	}

	.page-sidebar-hovering .submit {
		opacity: 0;
		width: 0 !important;
		height: 0 !important;
	}

  	/***
  	Page content
  	***/
  	.page-content { 
  		margin-left: 225px; 
		margin-top: 0px;
		min-height: 760px; 
	}

	.page-sidebar-fixed .page-content {
		min-height: 600px; 
	}

	.page-content.no-min-height {
		min-height: auto;
	}

	/***
	Footer
	***/

	/* fixed sidebar */
	.page-sidebar-fixed .footer {
	  margin-left: 225px;
	  background-color: #fff;
	}

	.page-sidebar-fixed .footer .footer-inner {
	  color: #333;
	}

	.page-sidebar-fixed.page-sidebar-closed .footer {
	  margin-left: 35px;
	}

	.page-sidebar-fixed .footer .footer-tools .go-top { 
	  background-color: #666;
	}

	.page-sidebar-fixed .footer .footer-tools .go-top i {
	  color: #ddd;
	}

	/* boxed layout */
	.page-boxed	.header .brand {
  		margin-left: 0px !important;
  		width: 226px;
	}

	.page-boxed .header .brand img {
		margin-left: 10px;
	}
}

/***
For tablets and phones
***/
@media (max-width:979px) { 
	
	/***
	Body
	***/
	body {
		margin: 0px !important;
	}	

	/***
 	Page header
 	***/
 	.header {
 		margin: 0 !important;
 	}

	.header .nav li.dropdown i {
		display: inline-block;
		position: relative;
		top:1px;
		right:0px;
	}

	.header .nav {
		margin-bottom: 0px !important;
	}

	.header .brand {
  		margin-left: 0px !important;
  		padding-left: 0px !important; 
	}

	.header .brand img {
		margin-left: 2px !important;
	}

	/***
	Page container
	***/
	.page-container {
		margin: 0 !important;
		padding: 0 !important;
	}

	.page-header-fixed .page-container {
		margin-top: 0px !important;
	}
  	.page-content {
  		margin: 0px !important;
  		padding: 0px !important;  		
		min-height: 280px; 
  	}

	.page-sidebar {
		margin: 0 10px;
	}

	.page-sidebar.in {
		margin: 10px;
		position: relative;
		z-index: 5;
	}

	.page-sidebar .sidebar-toggler {
		display: none;
	}

	.page-sidebar ul {
		margin-top:0px;
		width:100%;
	}

	.page-sidebar .selected {
		display: none !important;
	}

	.page-sidebar .sidebar-search {
	  width: 220px;
	  margin-top: 20px;
	  margin-bottom:20px;
	}


	.page-title {
		margin: 15px 0px;
	}
}

 
@media (min-width: 768px) and (max-width: 979px) { 

	/***
	Body
	***/
	body {
	 	padding-top: 0px;
	}
	.page-sidebar .btn-navbar.collapsed .arrow { 
		display: none;
	}	

	.page-sidebar .btn-navbar .arrow {
	  position: absolute;
	  right: 25px;
	  width: 0; 
	  height: 0;
	  top:50px;
	  border-bottom: 15px solid #5f646b;
	  border-left: 15px solid transparent; 
	  border-right: 15px solid transparent; 
	}

} 
 
@media (max-width: 767px) { 
	
	/***
	Page header
	***/
	.header .navbar-inner .container-fluid,
	.header .navbar-inner .container {
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	.header .top-nav .nav{  
	 	margin-top: 0px;
	 	margin-right: 5px;
	}

	.header .nav > li > .dropdown-menu.notification:after, 
	.header .nav > li > .dropdown-menu.notification:before {
		margin-right: 180px;
	}

	.header .nav > li > .dropdown-menu.notification {
  		margin-right: -180px;
	}

	.header .nav > li > .dropdown-menu.inbox:after, 
	.header .nav > li > .dropdown-menu.inbox:before {
		margin-right: 140px;
	}

	.header .nav > li > .dropdown-menu.inbox {
  		margin-right: -140px;
	}

	.page-content {
		padding: 10px !important;
	}

	.page-title {
		margin-bottom: 20px;
	}
	
}

@media (max-width: 480px) {

	.header .nav {
		clear:both !important;
	}

	.header .nav > li.dropdown .dropdown-toggle {
  		margin-top:3px !important;
  	}	

  	.header .nav li.dropdown .dropdown-toggle .badge {
  		top: 11px;
  	}

  	/***
	Page sidebar
	***/
	.page-sidebar.in {
		margin-top: 7px !important;
	}

	/***
	Page title
	***/
	.page-title small {
		display: block;
		clear: both;
	}

	/***
	Hidden phone
	***/
	.hidden-480 {
		display: none;
	}

	/***
	Modal header close button fix
	***/
	.modal-header .close {
		margin-top: 5px !important;
	}

	/***
	Fix text view
	***/
	.control-group .controls .text {
  		display: block !important;
  		margin-bottom: 10px;
  	}
}

