@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body { 
  color: #000000; 
  font-family: 'Slabo 27px' serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size:15px; 
  direction: ltr;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}


a {
  text-shadow: none !important;
  color: #0d638f;
}
[class^="icon-"], 
[class*=" icon-"],
[class^="icon-"]:hover, 
[class*=" icon-"]:hover { 
  background: none !important;
}

.icon-bar{
    background: #ffffff !important;
}

li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="icon-"].icon-large,
li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}


a,a:focus, a:hover, a:active {
  outline: 0;
}
.fix-offset {
  margin-left: 0px !important;
}


.fix-margin {
  margin-left: 0px !important
}

.border {
  border: 1px solid #ddd
}

.inline {
  display: inline;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE;
}

.header {
  padding: 0 !important;
  margin: 0 !important;
}
.header .btn-navbar {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-top:10px;
  padding-bottom: 6px; 
  background-image: none;
  filter:none;
  box-shadow: none;
  color: #fff;
  border: 0;
}

.header .btn-navbar:hover {
  text-decoration: none;
}

.header .navbar-inner {
  width: 100%;
  margin-left: 0 0 0 110px;
  border: 0px;
  padding: 0px; 
  box-shadow: none;
  height: 42px; 
}

.header .nav {
  display: block; 
}

.header .nav > li {
  margin: 0px;
  padding: 0px;
}

.header .nav > li.dropdown, 
.header .nav > li.dropdown > a {
  padding-left: 4px; 
  padding-right: 4px;
}

.header .nav > li.dropdown > a:last-child {
  padding-right: 0;
}

.header .nav > li.dropdown:last-child {
   padding-right: 2px;
}

.header .nav > li.dropdown .dropdown-toggle {
  margin: 0px;
  padding: 15px 10px 7px 10px;
}

.header .nav > li.dropdown .dropdown-toggle i {
  font-size: 18px;
}

.header .nav > li.dropdown.user .dropdown-toggle {
  padding: 6px 4px 7px 9px;
}

.header .nav > li.dropdown.user .dropdown-toggle:hover {
  text-decoration: none;
}

.header .nav > li.dropdown.user .dropdown-toggle .username {
  color: #ddd;
}

.header .nav li.dropdown.user .dropdown-toggle i {
  display: inline-block;
  margin-top: 5px;
  margin: 0;
  font-size: 16px;
}

.header .nav > li.dropdown.user .dropdown-menu i {
  width: 15px;
  display: inline-block;
}

.header .nav > li.dropdown .dropdown-toggle .badge {
  position: absolute;
  font-size: 11px !important;
  font-weight: 300;
  top: 8px;
  right: 24px;
  text-align: center;
  height: 14px;
  background-color: #e02222;
  padding: 2px 6px 2px 6px;
  -webkit-border-radius: 12px !important;
     -moz-border-radius: 12px !important;
          border-radius: 12px !important;
  text-shadow:none !important;
}


.header .nav .dropdown-menu {
  margin-top: 3px;
}

.page-container {
  margin: 0px;
  padding: 0px;
}

.page-header-fixed .page-container {
  margin-top: 42px;  
}




@media (min-width: 768px) and (max-width: 979px){
  .navbar-toggle {
    display: block;}
}
ul.page-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0; 
}

.collapse {
    display: block;
}

ul.page-sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0; 
  border: 0px;
}

ul.page-sidebar-menu > li.start > a {
   border-top-color: transparent !important;
}

ul.page-sidebar-menu > li:last-child > a,
ul.page-sidebar-menu > li.last > a {
   border-bottom-color: transparent !important;
}

ul.page-sidebar-menu > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

.page-sidebar-fixed ul.page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

ul.page-sidebar-menu > li > a i {
  font-size: 16px;
  margin-right: 5px;
  text-shadow:none; 
}

ul.page-sidebar-menu > li.break {
  margin-bottom: 20px;
}

ul.page-sidebar-menu > li.active > a {
  border: none; 
  text-shadow:none;
}  

ul.page-sidebar-menu > li.active > a .selected {
  display: block;
  width: 8px;
  height: 25px;
  background-image: url("../image/sidebar-menu-arrow.png");
  float: right;
  position: absolute;
  right:0px;
  top:8px;
}

.page-sidebar ul > li > a > .arrow:before {  
   float: right;
   margin-top: 1px;
   margin-right: 5px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

ul.page-sidebar-menu > li > a > .arrow.open:before {   
   float: right;
   margin-top: 1px;
   margin-right: 3px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

ul.page-sidebar-menu > li > ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 8px 0px 8px 0px;
}

ul.page-sidebar-menu > li.active > ul.sub-menu {
  display: block;
}

ul.page-sidebar-menu > li > ul.sub-menu > li {
  background: none;
  margin: 0px;
  padding: 0px;
  margin-top: 1px !important;
}

ul.page-sidebar-menu > li > ul.sub-menu > li > a {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px;
  padding-left: 44px !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  background: none;
}




/***
Sidebar toggler(show/hide)
***/

.page-sidebar .sidebar-toggler {
  cursor: pointer; 
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin-top: 15px;
  margin-left: 175px;
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
}

.sidebar-toggler:hover { 
  filter: alpha(opacity=100);
  opacity: 1;
}

.page-sidebar-closed .sidebar-toggler {  
  margin-left: 3px;
}


.page-sidebar-closed ul.page-sidebar-menu > li > a .selected {
  right: -3px !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li > a > .title,
.page-sidebar-closed ul.page-sidebar-menu > li > a > .arrow {
  display: none !important;
}

.page-sidebar-closed .sidebar-toggler {
  margin-right: 3px;
}

.page-sidebar-closed .page-sidebar .sidebar-search {
  margin-top: 6px;
  margin-bottom: 6px;
}

.page-sidebar-closed ul.page-sidebar-menu {
  width: 35px !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li > a {
  padding-left: 7px;
}

.page-sidebar-fixed.page-sidebar-closed ul.page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover {
  width: 225px !important;
  position: relative !important;
  z-index: 2000;
  display: block !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover .selected {
  display: none;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover > a > i {
  margin-right: 10px;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover .title {
  display: inline !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li > .sub-menu {
  display: none !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu {  
  width: 189px;
  position: absolute;
  z-index: 2000;
  left: 36px;
  margin-top: 0;
  top: 100%;
  display: block !important;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu,
.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu > li > .sub-menu {
  width: 189px;
}

.page-sidebar-closed ul.page-sidebar-menu > li:hover > .sub-menu > li > a {
  padding-left: 15px !important;
}

/* sidebar container */
 
.page-sidebar-closed  .page-sidebar {
  width: 35px;
}

.page-sidebar-closed  .page-content {
  margin-left: 35px !important;
}


/***
Page content
***/
.page-content {  
  margin-top: 0px;   
  padding: 0px;
  background-color: #fff; 
}
.page-full-width .page-content {
    margin-left: 0px !important;
}


/***
Page title
***/
.page-title {
  padding: 0px;
  font-size: 30px;
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 20px 0px 15px 0px;
  font-weight: 300;
  font-family: 'Open Sans';
}




/***
Portlets
***/
.portlet  {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

.portlet-title {  
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.portlet-title:after,
.portlet-title:before {
  content: "";
  display: table;
  line-height: 0;
}

.portlet-title:after {
  clear: both;
}

.portlet-title .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 7px; 
}

.portlet-title .caption i {
  float: left;
  margin-top: 5px;
  display: inline-block !important;
  font-size: 13px;
  margin-right: 5px;
  color: #666;
}

.portlet.blue > .portlet-title .caption, .portlet-title.blue .caption{
  color: #fff;
}

.portlet.box.blue > .portlet-title .caption > i{
  color: #fff;
}

.sortable .portlet .portlet-title {
  cursor: move;
}


.portlet-title .actions > .btn-group {
  margin-top: -12px;
}

.portlet-title .actions > .btn {
  padding: 4px 10px;
  margin-top: -13px;
}

.portlet-title .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}

.portlet-title .actions > .btn.mini {
  margin-top: -12px;
  padding: 4px 10px;
}
.btn.blue{
  margin:20px;
  background-color: #92CDCF;
  color: #eeeef7;
}
.portlet-title .pagination.pagination-small {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -2px;
}

.portlet-body {
  clear: both;  
  padding: 0;  
}

.portlet-body.light-blue, .portlet.light-blue {
  background-color: #445878  !important;
}

.portlet-body.blue, .portlet.blue {
  background-color: #445878 !important;
}

.portlet-body.light-grey, .portlet.light-grey {
  background-color: #fafafa !important;
}

.portlet-body.dark-grey, .portlet.dark-grey {
  background-color: #555555 !important;
}

.portlet-body .btn-toolbar {
  margin: 0px !important;
  padding: 0px !important;
}

.portlet-body .btn-group {
  margin: 0px !important;
  padding: 0px !important;
  margin-bottom: 10px !important;
}



.portlet.box {
   padding:0px !important
}

.portlet.box .portlet-title {  
   padding:8px 10px 2px 10px;
   border-bottom: 1px solid #eee;
   color: #fff !important;
}

.portlet.box .portlet-title > .actions > .btn > i {
  color: #fff !important;
}


/* portlet buttons */
.portlet.box .portlet-body {
  background-color: #fff;
  padding: 10px;
}

.portlet.box .portlet-title {  
  margin-bottom: 0px;
}

.portlet.box.blue .portlet-title {
  background-color: #445878;
} 

.portlet.box.blue {  
   border: 1px solid #445878;
   border-top: 0;
}


.portlet.box.grey .portlet-title {
  background-color: #555555;
} 

.portlet.box.grey {  
   border: 1px solid #9d9c9c;
   border-top: 0;
}

.portlet.box.light-grey .portlet-title {
  background-color: #aaa;
} 

.portlet.box.light-grey {  
   border: 1px solid #eee;
   border-top: 0;
}

/* extended dropdowns */
.dropdown-menu.extended {
  min-width: 160px !important;
  max-width: 300px !important;
  width: 233px !important;
  background-color: #ffffff !important;
}

.dropdown-menu.extended:before,
.dropdown-menu.extended:after {
  border-bottom-color: #ddd !important;
}


.dropdown-menu.extended li a{
  display: block;
  padding: 5px 10px !important;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  white-space: normal !important;
}

.dropdown-menu.extended li i{
  margin-right: 3px;
}

.dropdown-menu.extended li a{
   font-size: 13px;
   padding: 10px !important;
   background-color: #ffffff;
}

.dropdown-menu.extended li a:hover {
  background-image: none;
  background-color: #f5f5f5;
  color: #000;
  filter:none;
}

.dropdown-menu.extended li p{
  padding: 10px;
  background-color: #eee;
  margin: 0px;
  font-size: 14px;
  font-weight: 300;
  color: #000;
}

.dropdown-menu.extended li a{
  padding: 7px 0 5px 0px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4 !important;
  font-size: 12px;
  text-shadow: none;
}

.dropdown-menu.extended li:first-child a {
  border-top: none;
  border-bottom: 1px solid #f4f4f4 !important;
}

.dropdown-menu.extended li:last-child a {
  border-top: 1px solid white !important;
  border-bottom: 1px solid #f4f4f4 !important;
}

.dropdown-menu.extended li.external > a {
  font-size: 13px;
  font-weight: 400;  
}

.dropdown-menu.extended li.external > a > i{
  margin-top: 3px;
  float: right;
}

/***
Custom tables
***/
.table.table-full-width {
  width: 100% !important;
}

.table .m-btn {
  margin-top: 0px;
  margin-left: 0px; 
  margin-right: 5px;
}

.table thead tr th {
  font-size: 14px;
  font-weight: 600;
}

.table-advance {
  margin-bottom: 10px !important;
}

.table-advance thead { 
  color: #999; 
}

.table-advance thead tr th{
  background-color: #DDD; 
  font-size: 14px;
  font-weight: 400; 
  color: #666;
}

.table-advance div.success, 
.table-advance div.info, 
.table-advance div.important, 
.table-advance div.warning, 
.table-advance div.danger {
  position: absolute;
  margin-top:-5px;
  float: left;
  width: 2px;
  height: 30px;
  margin-right: 20px !important;
}

.table-advance tr td {
  border-left-width: 0px; 
}
.table-advance tr td:first-child {
  border-left-width: 1px !important; 
}

.table-advance tr td.highlight:first-child a {
  margin-left: 15px;
}

.table-advance td.highlight div.success {  
  border-left: 2px solid #66ee66;
}

.table-advance td.highlight div.info {  
  border-left: 2px solid #87ceeb;
}

.table-advance td.highlight div.important {  
  border-left: 2px solid #f02c71;
}

.table-advance td.highlight div.warning {  
  border-left: 2px solid #fdbb39;
}

.table-advance td.highlight div.danger {  
  border-left: 2px solid #e23e29;
}




/*** Uniform plugin css changes ***/

.radio, .checkbox {
  padding-left: 0px !important;
}

.checkbox .checker {
  margin-top: -2px !important;
  margin-right: 2px !important;
}

.controls .text {
  display: block;
  margin-top: 7px;
  font-weight: 400;
  font-size: 14px;
}

.controls .text-inline {
  display: inline-block;
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
}


/* used for non horizontal forms */
.controls-uniform {
  margin-top: -7px;
}

/***
General forms settings
***/
input.placeholder,
textarea.placeholder {
  color: #aaa !important;
}

.help-block {
 margin-top: 0px;
}

.form-inline input {
  margin-bottom: 0px !important;
}


/***
Calendar with full calendar
***/
.external-event {
  display: inline-block !important;
  cursor:move;
  margin-bottom: 5px !important;  
  margin-left: 5px !important;
}

.portlet .event-form-title {
  font-size: 16px;
  margin-top: -4px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #445878;
}

.portlet.calendar .fc-button {
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-text-shadow: none !important;
     -moz-text-shadow: none !important;
          text-shadow: none !important;
  border: 0 !important;
/*  padding: 7px 8px 11px 8px;*/
  margin-left:2px; 
  color: #fff !important;
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #ddd;
  background: transparent;
  color: #646464;
  top: -47px;
}

.fc-header-title>h2{
  font-size:22px;
  margin-bottom: 30px;
}

div.checker#uniform-drop-remove{
  display: inline;
  margin-right: 5px;
}

.portlet.calendar .fc-header {
  margin-bottom:-21px;
}

.portlet.calendar .fc-button-prev {
  padding-right: 10px;
  padding-left: 8px;
}

.portlet.calendar .fc-button-next {
  padding-right: 8px;
  padding-left: 10px;
}

.portlet.calendar .fc-button.fc-state-active,
.portlet.calendar .fc-button.fc-state-hover {
  color: #666 !important;
  background-color: #F9F9F9 !important;
}

.portlet.calendar .fc-button.fc-state-disabled {
  color: #ddd !important;
}

.portlet.calendar .fc-text-arrow {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline; 
}

/***
Select2 plugin css changes
***/

/* enable form validation classes for select2 dropdowns */
.error .select2-container .select2-choice {
  border-color: #B94A48;
}

.error .select2-container .select2-choice > span {
  color: #B94A48;
}

.error .select2-container.select2-dropdown-open .select2-choice {
  border-color: #e5e5e5; 
}

.error .select2-container.select2-dropdown-open .select2-choice > span {
  color: #999999;
}

.success .select2-container .select2-choice {
  border-color: #468847;
}

.success .select2-container .select2-choice > span {
  color: #468847;
}

.success .select2-container.select2-dropdown-open .select2-choice {
  border-color: #e5e5e5; 
}

.success .select2-container.select2-dropdown-open .select2-choice > span {
  color: #999999;
}





/***
Sidebar Content
***/
.sidebar-content {
 margin-top: 20px;
}


/*Sidebar Tags*/
ul.sidebar-tags a {
  color: #555;
  font-size:12px;
  padding:2px 5px;
  background:#f7f7f7;
  margin:0 2px 5px 0;
  display:inline-block;
}

ul.sidebar-tags a:hover,
ul.sidebar-tags a:hover i {
  color:#fff;
  background: #555;
  text-decoration:none;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

ul.sidebar-tags a i {
  color:#777;
}

ul.sidebar-tags li {
  padding: 0;
}



/***Datatables Plugin***/
.dataTable {  
  clear: both;
  margin-top: 5px;
}

.dataTables_filter label {
  line-height: 32px !important;
}

.dataTable .row-details {  
  margin-top: 3px;
  display: inline-block;
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.dataTable .row-details.row-details-close {
  background: url("../image/datatable-row-openclose.png") no-repeat 0 0;
}

.dataTable .row-details.row-details-open {  
  background: url("../image/datatable-row-openclose.png") no-repeat 0 -23px !important;
}

.dataTable .details {
  background-color: #eee !important;
}

.dataTable .details td,
.dataTable .details th {
  padding: 4px;
  background-color: none !important;
  border: 0;
}

.dataTable .details tr:hover td,
.dataTable .details tr:hover th {
  background-color: none !important;
}

.dataTable .details tr:nth-child(odd) td,
.dataTable .details tr:nth-child(odd) th {
  background-color: #eee !important;
}

.dataTable .details tr:nth-child(even) td,
.dataTable .details tr:nth-child(even) th {
  background-color: #eee !important;
}
div.dataTables_paginate>ul>li{
  display: inline;
  margin-left: 20px;
}
